/** STYLE.LESS **/
@blue: #428bca;
@light-green: #a9d8b2;

.navbar-default {
	background-color:#fff;
	border-bottom:2px solid #efefef;
	.nav li {
		text-transform:uppercase;
		font-size:11px;

		a {
			color:rgba(0,0,0,0.6);
		}		
	}
	.hamburger {
		display:none;
		a {
			cursor:pointer;
		}
	}
	.navbar-brand {
		font-weight:bold;
		color:#222;
		cursor:pointer;

		.mobile {
			display:none;
		}
	}

	.nav-btn.btn-default {
		height: 38px;
		padding: 0 16px;
		outline: 0;
		color: rgba(0,0,0,0.44) !important;
		background: rgba(0,0,0,0) !important;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		border: 1px solid rgba(0,0,0,0.15);		
		white-space: nowrap;
		text-rendering: auto;
		box-sizing: border-box;
		border-radius: 999em;
		-moz-transition: 100ms background-color,100ms border-color,100ms color;
		-webkit-transition: 100ms background-color,100ms border-color,100ms color;
		transition: 100ms background-color,100ms border-color,100ms color;
		letter-spacing: -0.02em;
		font-weight: 400;
		font-style: normal;
		line-height:35px;
		margin-right:10px;
		margin-top:6px;
		vertical-align: middle;
		text-transform: none;

		&:hover {
			color: rgba(0,0,0,0.6);
			border-color: rgba(0,0,0,0.3)			
		}

		&.new-post {
			border-color: #a9d8b2;
			color: #57ad68 !important;
	
			&:hover {
				background: rgba(0,0,0,0);
				border-color: #57ad68;
				color: #468c54;			
			}
		}

	}
}
.post-item {
	cursor: pointer;
}
.grid-post {
	background: #fff;
	border: 1px solid #ddd;
	margin:20px 0;
	height:315px;
	position:relative;
	overflow:hidden;

	.post-showinfo .post-head {
		margin-bottom: 0;
		padding: 10px 0;
		padding-bottom: 0;
		position: relative;
		text-align: center;
		border-top: 1px solid #ddd;		
	}

	.post-extras {
		margin-top: 8px;
		margin-left: 0;
		margin-bottom: 0px !important;
		padding-top: 0px !important;		
		padding: 0 !important;
	}

	.post {
		margin-bottom:10px;
	}
	.post-body {
		height: 200px;
		color: #333;
		p {
			margin:0 0 24px;
		}
	}

	.unread {
		position: absolute;
		background: #e74c3c;
		color: white;
		text-transform: uppercase;
		font-size: 12px;
		top: 21px;
		left: -22px;
		padding: 1px 8px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		width: 100px;
		text-align: center;
		z-index: 9999;
	}		
}
.post-meta {

	overflow:hidden;
	background:#777;
	color:white;
	position:relative;
	padding:6px 10px;	
	.post-author {
		text-transform:uppercase;
		font-style:normal;
	}

	.post-date {		
		font-style:normal;
		float:right;

		.lastedited {
			font-style:italic;
		}
	}	
}

.fixed-sidebar {
	background:#fafafa;
	position:fixed;
	top:52px;
	bottom:0;
	right:0;	
	overflow-y: auto;

	ol {
	    margin-left: 0;
    	padding:0;
    	list-style-type: none;

    	li {
			counter-increment: step-counter;
			padding: 10px;
			border-bottom: 1px solid #eee;

			&:hover {
				background:#fefefe;
			}

    		&:before {
				content: counter(step-counter);
				margin-right: 5px;
				font-size: 14px;
				background-color: white;
				color: #333;
				font-weight: bold;
				padding: 5px 11px;
				border-radius: 999em;    			
    		}
    	}
	}

	.legendary li span.author {
		display:block;
		color:#999;
		font-style:italic;
		font-size:12px;
		text-indent:3em;
	}

	.sidebar-heading {
		margin-top:20px;
	}

}

.detail .post-body {
	font-size:18px;
	line-height:180%;

}
.detail .post-meta {
	background:transparent;
	color:#777;
	font-size:16px;
	padding:12px 0;
}
.comments-list.comments-body {
	margin-left:12px;

	h5 {
		border-top:1px solid #ccc;
		font-weight:bold;
		padding-top:6px;
	}


	p {
		font-size:15px;
		line-height:180%;
	}
}
form textarea {
	border:1px solid #aaa;
	width: 100%;
	&:focus {
		border:1px solid #aaa;
	}
}
.post-form textarea {
	font-size:16px;
	padding:10px;
}
textarea#message {
	border:1px solid #ccc;
	text-indent:0;
}

form {
	
	input[type=text], input[type=email], input[type=password] {
		border: 1px solid #ccc;
		font-size: 26px;
		height:45px;
	}

	select.form-control {
		border:1px solid #ccc;
		-moz-appearance: none;
	}

}

.widget_search {
	margin-bottom:5px;
}
.widget_search input {
	border-radius:999em;
}

.filter-form {
	margin:10px 0;
	position:relative;

	i {
		vertical-align:bottom;
	}


}
.fixed-sidebar {
	select.form-control {
		background:#eee;
		border:0;
		text-align:center;
		display:block;
		position:relative;		
	}


	.flag-filter .select-wrapper {
		margin:10px auto;
		width:95%;
	}

	.month-filter {
		width:95%;
		margin: 0 auto;
	}
}	


.select-wrapper {
	position:relative;

	i {
		position:absolute;		
		top:10px;
		z-index:9999;
		cursor:pointer;	
		&.down {
			right:10px;
			color:#aaa;
		}

		&.right {
			right: -15px;
		}
		&.left {
			left:-15px; 
		}
	}


}
.media {
	overflow:visible;
}
.reply-flag {
	float:right;
	.btn-link {
		color:#aaa;
	}
}
.reply-star {
	position: absolute;
	top: 54px;
	right: 0;
	z-index: 99;
	font-size: 18px;
}
.detail .reply-flag {
	top:50px;	
}


.reply-flags {
	margin-left:30px;
	font-size:12px;
	font-style:italic;
	li {
		list-style:none;
		.label {
			font-style:normal;
			text-transform: uppercase;
		}
	}

	.detail & {
		margin-left:42px;
	}
}

.sidebar-tab-header {
	h5 {
		text-align:right;
		border-bottom:3px solid #ddd;
		text-transform: uppercase;
		cursor: pointer;
		color: #777;
		margin-top:15px;
	}
	.hot-searches-header h5 {
		text-align:left;
	}


}

.account {
	text-align:center;
}

.search-form {
	margin:20px 0 0 0;

	input[type=text] {
		font-size:14px;
		padding:7px 10px;
		font-style:normal;
	}
}

#login-page {
	background:#4E535B;
}
#login-form {
	
	-webkit-transform: translate3d(0,50%,0);
	-moz-transform: translate3d(0,50%,0);
	position: absolute;	
	background: #F1F2F4;
	border-bottom: 2px solid #C5C5C8;
	border-radius: 5px;
	color: #36383C;
	text-shadow: 0 1px 0 #FFF;
	max-width: 420px;
	margin: 0 0 0 -15px;
	padding: 15px 40px 20px 40px;
	box-shadow: 0 0 3px #000;

	h2 {
		margin-top:-45px;
		color:white;
	}
	button {
		width:100%;
		background:@blue;
		color:white;
		text-transform:uppercase;
		font-size:18px;

		&:hover {
			background: lighten(@blue, 10%);
		}
	}

	.checkbox input {
		top:0;
	}
}

.back-button {
	position:fixed;
	left:0;
	top:50%;
}

.file-list {
	margin-left:30px;

	li {
		list-style:none;
		display:inline-block;
		border:1px solid #ddd;
		padding:10px;
		width:150px;
		span {
			display:block;
			text-align:center;
		}
	}
}

form .dropzone {
	border: 2px dashed rgba(0, 0, 0, 0.3);
	margin: 20px 0;
}
form textarea.form-control {
	border:1px solid #ccc;
}
@media (max-width: 993px) {
	.fixed-sidebar {
		position:static;
		background:transparent;
	}
}
@media (max-width: 767px) {
	.navbar-default {
		.navbar-brand .mobile {display:inline;}
		.navbar-brand .desktop {display:none;}
	}
	.navbar-right.navbar-nav {
		position:absolute;
		width:75%;
		top:-5px;
		right:0;

		li {
			float:left;

			a {
				padding:8px;
			}
		}

		.hamburger {
			display:block;
			position: absolute;
			top: 5px;
			font-size: 20px;
			color: #999;
			right:15px;
			z-index: 8888;
		}
		.nav-btn {
		  padding: 0 9px;
		  font-size: 13px;
		}
	}

	.back-button {	
		left: -5px;
		padding: 4px;	
	}

	.fixed-sidebar {
		-webkit-transition: left 0.3s;
		transition: left 0.3s;
		position:fixed;
		top:50px;
		bottom:0;
		background: #fff;
		z-index:9999;
		padding-bottom:40px;	

		&.closed {
			left:-700px;
		}
		&.open {
			left: 0;
		}	
	}
}