                            <div class="sidebar-widget widget_search">
                                <form>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="search" type="text">
                                        <span class="input-group-btn">
          <button class="btn" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="sidebar-widget widget_categories">
                                <h3 class="sidebar-header">Categories</h3>
                                <ul>
                                    <li>
                                        <a href="#">
        Company
      </a>
                                    </li>
                                    <li>
                                        <a href="#">
        News
      </a>
                                    </li>
                                    <li>
                                        <a href="#">
        Services
      </a>
                                    </li>
                                    <li>
                                        <a href="#">
        Web Design
      </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget_tag_cloud">
                                <h3 class="sidebar-header">Popular Tags</h3>
                                <ul>
                                    <li>
                                        <a href="post.html">
                                            <span>Mountains</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Winter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Sports</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Boating</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Recreation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Tourism</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Nature</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="post.html">
                                            <span>Alps</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget_recent_entries">
                                <h3 class="sidebar-header">Recent posts</h3>
                                <ul>
                                    <li>
                                        <div class="post-icon">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <a href="post.html">
        Nunc vehicula dapibus
      </a>
                                        <small>
        12 Feb 2013
      </small>
                                    </li>
                                    <li>
                                        <div class="post-icon">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                        <a href="post.html">
        Fusce a metus eu diam
      </a>
                                        <small>
        21 Jan 2013
      </small>
                                    </li>
                                    <li>
                                        <div class="post-icon">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <a href="post.html">
        Quisque lacus augue
      </a>
                                        <small>
        13 dec 2012
      </small>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget_archive">
                                <h3 class="sidebar-header">Archive</h3>
                                <ul>
                                    <li>
                                        <a href="#">
        January
      </a>
                                        (12)
                                    </li>
                                    <li>
                                        <a href="#">
        December
      </a>
                                        (7)
                                    </li>
                                    <li>
                                        <a href="#">
        October
      </a>
                                        (4)
                                    </li>
                                    <li>
                                        <a href="#">
        September
      </a>
                                        (9)
                                    </li>
                                    <li>
                                        <a href="#">
        August
      </a>
                                        (13)
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget_oxy_twitter">
                                <h3 class="sidebar-header">Twitter feed</h3>
                                <ul>
                                    <li>
                                        RT @<a href="http://twitter.com/maguay">maguay</a>: Making a new @
                                        <a href="http://twitter.com/TryGhost">TryGhost</a>
                                        theme? @
                                        <a href="http://twitter.com/Envato">Envato</a>
                                        and @
                                        <a href="http://twitter.com/ThemeForest">ThemeForest</a>
                                        have doubled their bounty for great new themes:
                                        <a href="http://t.co/MqpDozDevG" rel="nofollow">http://t.co/MqpDozDevG</a>
                                        <small class="block text-italic">
        1&nbsp;day&nbsp;ago
      </small>
                                    </li>
                                    <li>
                                        RT @<a href="http://twitter.com/maguay">maguay</a>: Making a new @
                                        <a href="http://twitter.com/TryGhost">TryGhost</a>
                                        theme? @
                                        <a href="http://twitter.com/Envato">Envato</a>
                                        and @
                                        <a href="http://twitter.com/ThemeForest">ThemeForest</a>
                                        have doubled their bounty for great new themes:
                                        <a href="http://t.co/MqpDozDevG" rel="nofollow">http://t.co/MqpDozDevG</a>
                                        <small class="block text-italic">
        1&nbsp;day&nbsp;ago
      </small>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget_text">
                                <h3 class="sidebar-header">About us</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, voluptatem, delectus, dolor cupiditate consequatur hic at sapiente minima alias consectetur maxime repudiandae recusandae ratione enim nesciunt! Nemo, quisquam veniam perspiciatis.
                                </p>
                            </div>









                                <div className="col-md-9">
                                    <article className="post post-showinfo">
                                        <div className="post-head small-screen-center">
                                            <h2 className="post-title">
                                              <a href="post.html">
                                                This theme is so nice!
                                              </a>
                                            </h2>
                                            <small className="post-author">
                                                <a href="blog.html">John Langan,</a>
                                            </small>
                                            <small className="post-date">
                                              <a href="post.html">30 April 2014</a>
                                            </small>
                                            <div className="post-icon flat-hex">
                                                hmm
                                            </div>
                                        </div>
                                        <div className="post-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                                            </p>
                                            <a className="more-link" href="post.html">
                                              read more
                                            </a>
                                        </div>
                                        <div className="bordered post-extras text-center">
                                            <div className="text-center">
                                                <span className="post-link">
                                                  <a href="post.html">
                                                    <i className="fa fa-comments"></i>
                                                    2 replies
                                                  </a>
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <aside className="col-md-3 sidebar">
                                </aside>
